span {
    color: hotpink;
    font-family: verdana;
    font-size: 20px;
    margin-bottom: 40px;
}

body {
    background-color: rgb(48, 46, 56);
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 20px;
}


.text-box {
    background-color: rgb(60, 58, 70);
    color: hotpink;
    font-family: verdana, sans-serif;
    font-size: 16px;
    border: 2px solid hotpink;
    border-radius: 8px;
    padding: 15px;
    margin: 20px 0;
    max-width: 500px;
}

a {
    color: hotpink;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}