body {
    background-color: rgb(48, 46, 56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.question {
    color: hotpink;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}

.btn-container {
    display: flex;
    gap: 40px;
}

.btn {
    background-color: hotpink;
    color: rgb(40, 39, 48);
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.25s;
}

.btn:hover {
    background-color: rgb(255, 120, 190);
    transform: scale(1.1);
}
.creators-link {
    margin-top: 10px;      
    text-align: center;     
}

.creators-link a {
    color: hotpink;        
    text-decoration: none; 
    font-size: 0.9rem; 
}
